langchain
langchain-community
groq
langchain-groq
unstructured
python-docx
faiss-cpu
pdfminer.six
pi-heif
unstructured_inference
unstructured_pytesseract
pdf2image
transformers
sentence-transformers
huggingface_hub
requests

gTTS
pydub
SpeechRecognition
PyAudio
transformers
soundfile
numpy

